@import "tailwindcss";
@plugin "daisyui";

/*:root[data-theme="dark"] body {*/
/*  background: #1d1f21;*/
/*}*/

/*:root[data-theme="dark"] .bg-base-100,*/
/*:root[data-theme="dark"] .bg-base-200,*/
/*:root[data-theme="dark"] .bg-base-300,*/
/*:root[data-theme="dark"] .bg-primary\/5 {*/
/*  background-color: #1d1f21 !important;*/
/*}*/

/*:root[data-theme="dark"] .border-base-100,*/
/*:root[data-theme="dark"] .border-base-200,*/
/*:root[data-theme="dark"] .border-base-300,*/
/*:root[data-theme="dark"] .border-primary\/30,*/
/*:root[data-theme="dark"] .border-dashed {*/
/*  border-color: #1d1f21 !important;*/
/*}*/

/*:global(.container) {*/
/*  background-color: transparent !important;*/
/*  border: none !important;*/
/*  box-shadow: none !important;*/
/*}*/

/*:global(main.container) {*/
/*  background-color: transparent !important;*/
/*  border: none !important;*/
/*  box-shadow: none !important;*/
/*}*/

