@import "tailwindcss";
@plugin "daisyui" {
  exclude: properties;
}

@layer base {
  body {
    background-color: #F2F1EE;
  }

  /* Hide vertical scrollbar globally but keep scrolling functional */
  html,
  body {
    /* Firefox */
    scrollbar-width: none !important;
    /* IE and Edge */
    -ms-overflow-style: none !important;
  }

  /* WebKit browsers (Chrome, Safari, Opera) */
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    width: 0 !important; /* vertical scrollbar width */
    height: 0 !important; /* horizontal scrollbar height */
    display: none !important;
  }
}