---
const title = Astro.props.title;
---

<div class="w-full" >
  <div class="shortcut-traffic-lights absolute m-3 left-3 flex gap-2">
    <span class="inline-block h-2.5 w-2.5 rounded-full bg-[#ff5f57]"></span>
    <span class="inline-block h-2.5 w-2.5 rounded-full bg-[#febc2e]"></span>
    <span class="inline-block h-2.5 w-2.5 rounded-full bg-[#28c840]"></span>
  </div>
  <h2 class="m-3 font-mono text-[13px] font-semibold uppercase tracking-[0.08em] text-[#d8d8d8]">{ title}</h2>
</div>
<div class="relative pt-8"><slot/></div>