---
import MenuIcon from "./icon/MenuIcon.astro";
import ThemeIcon from "./ThemeIcon.astro";

---

<div class="drawer">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />

  <!-- 页面主体 -->
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="navbar fixed top-0 left-0 w-full bg-base-100/30 backdrop-blur-md shadow-md">
      <!-- 左侧小屏幕按钮 -->
      <div class="navbar-start flex-none lg:hidden">
        <label for="my-drawer-2" aria-label="open sidebar" class="btn btn-square btn-ghost">
          <MenuIcon/>
        </label>
      </div>

      <!-- Navbar 标题 -->
      <div class="navbar-start mx-2 p-2 flex-1 text-black font-bold">
        <a href="/">Navbar Title</a>
      </div>

      <!-- 右侧菜单 -->
      <div class="navbar-end hidden lg:flex gap-2">
        <ul class="menu menu-horizontal px-1 bg-transparent">
          <li><a class="text-black font-bold" href="/about/">关于我</a></li>
          <li>
            <details>
              <summary class="text-black font-bold">Parent</summary>
              <ul class="p-2 bg-base-100/80 w-40 z-50">
                <li><a>Submenu 1</a></li>
                <li><a>Submenu 2</a></li>
              </ul>
            </details>
          </li>
          <li><a class="text-black font-bold" href="/blog/">Item 3</a></li>
        </ul>
        <ThemeIcon />
      </div>
    </div>

    <!-- 页面内容 -->
    <slot/>
  </div>

  <!-- Drawer 侧边栏 -->
  <div class="drawer-side">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 min-h-full w-50 p-4">
      <!-- Sidebar content here -->
      <li><a>Sidebar Item 1</a></li>
      <li><a>Sidebar Item 2</a></li>
    </ul>
  </div>

</div>
