---
import TwitterIcon from "./icon/TwitterIcon.astro";
import YoutobeIcon from "./icon/YoutobeIcon.astro";
import FacebookIcon from "./icon/FacebookIcon.astro";

const { platform, username } = Astro.props;
---
<!--<a href={`https://www.${platform}.com/${username}`}></a>-->
<div class="grid grid-flow-col gap-4">
  <a>
    <TwitterIcon/>
  </a>
  <a>
    <YoutobeIcon/>
  </a>
  <a>
    <FacebookIcon/>
  </a>
</div>
<style>

</style>