---

import MobileDock from "./component/MobileDock.astro";
import FabFlower from "./component/FabFlower.astro";

---

<!-- Mobile components - only show on mobile devices -->
<div class="md:hidden">
  <MobileDock/>
  <FabFlower/>
</div>
